-# host picking dropdown
- current_val = params[:session] && params[:session][:host] ? params[:session][:host] : 'https://api.pmp.io'
.btn-group.host-picker
  .prefix.btn-pmp
    Host
  %button.btn.btn-form.dropdown-toggle{'data-toggle' => 'dropdown'}
    %span.text
      = current_val.gsub(/^https?:\/\//, '')
    %span.caret
  %ul.dropdown-menu.dropdown-menu-right
    %li
      %a{href: '#', 'data-value' => 'https://api.pmp.io'}
        api.pmp.io
    %li
      %a{href: '#', 'data-value' => 'https://api-sandbox.pmp.io'}
        api-sandbox.pmp.io
  = hidden_field :session, :host, value: current_val
