-# main form
- content_for :logbox do
  = form_tag(forgot_path) do
    - if flash.alert || flash.notice
      %span.help-block.text-danger
        = flash.alert || flash.notice
    - else
      %span.help-block
        Instructions to reset your password will be emailed to the address associated with this username.
    = render partial: 'hoster'
    %input.form-control{autofocus: '', placeholder: 'Username', required: '', type: 'text', name: 'username'}
    %button.btn.btn-lg.btn-pmp.btn-block{type: 'submit'}
      Email reset instructions

-# nav links
- content_for :logbox_links do
  = link_to login_path, class: 'pull-right' do
    Back to login?
    %i.fa.fa-arrow-right
