-# main form
- content_for :logbox do
  = form_tag(register_path) do
    - if flash.alert || flash.notice
      %span.help-block.text-danger
        = flash.alert || flash.notice
    - else
      %span.help-block
        Please fill out this form to request an API key for the Public Media Platform.
    = render partial: 'hoster'
    %input.form-control{autofocus: '', placeholder: 'Contact email', required: '', type: 'email', name: 'email'}
    %input.form-control{placeholder: 'Name of organization', required: '', type: 'text', name: 'title'}
    %input.form-control{placeholder: 'Username requested', required: '', type: 'text', name: 'username'}
    %textarea.form-control{placeholder: 'What do you intend to use the PMP for?', rows: 4, name: 'intention'}
    %button.btn.btn-lg.btn-pmp.btn-block{type: 'submit'}
      Send request

-# nav links
- content_for :logbox_links do
  = link_to login_path, class: 'pull-left' do
    %i.fa.fa-arrow-left
    Back to login?
