<p>We received a request for user <strong><%= @password_reset.user_name %></strong> at <strong><%= @password_reset.host %></strong>.</p>

<p><a href="<%= @token_link %>">Click here</a> to reset your password.</p>
