-# interior of PMP search form
.input-group
  %input.form-control.search-txt{type: 'text', placeholder: 'Enter keywords', name: 'text', value: params[:text]}
  %span.input-group-btn
    %button.btn.btn-md.btn-success{type: 'submit'}
      Search

.advanced{class: params[:advanced].present? ? 'show-all' : ''}

  .fields

    -# restrict profiles
    .form-group
      %label.control-label Type
      .checks.well.with-more
        %table
          %tr
            %td
              %label.checkbox-inline
                %input{type: 'checkbox', name: 'profile', value: 'story'} Story
            %td
              %label.checkbox-inline
                %input{type: 'checkbox', name: 'profile', value: 'audio'} Audio
            %td
              %label.checkbox-inline
                %input{type: 'checkbox', name: 'profile', value: 'video'} Video
            %td
              %label.checkbox-inline
                %input{type: 'checkbox', name: 'profile', value: 'image'} Image
            %td
              %label.checkbox-inline
                %input{type: 'checkbox', name: 'profile', value: 'series'} Series
            %td
              %label.checkbox-inline
                %input{type: 'checkbox', name: 'profile', value: 'property'} Property
          %tr.more
            %td
              %label.checkbox-inline
                %input{type: 'checkbox', name: 'profile', value: 'episode'} Episode
            %td
              %label.checkbox-inline
                %input{type: 'checkbox', name: 'profile', value: 'contributor'} Contributor
            %td
              %label.checkbox-inline
                %input{type: 'checkbox', name: 'profile', value: 'topic'} Topic
            %td
              %label.checkbox-inline
                %input{type: 'checkbox', name: 'profile', value: 'user'} User
            %td
              %label.checkbox-inline
                %input{type: 'checkbox', name: 'profile', value: 'group'} Group
        %a.toggle-more{href: '#'} more
      .contains
        %label.control-label Contains
        .checks
          %label.checkbox-inline
            %input{type: 'checkbox', name: 'has', value: 'story'} Story
          %label.checkbox-inline
            %input{type: 'checkbox', name: 'has', value: 'audio'} Audio
          %label.checkbox-inline
            %input{type: 'checkbox', name: 'has', value: 'video'} Video
          %label.checkbox-inline
            %input{type: 'checkbox', name: 'has', value: 'image'} Image

    -# restrict owners
    .form-group
      %label.control-label Source
      .checks.well
        - UserStat::KNOWN_USERS.each do |key, guid|
          %label.checkbox-inline
            %input{type: 'checkbox', name: 'owner', value: key, 'data-guid' => guid}
              = key.upcase

    -# guids and collections
    .form-group
      .row
        .col-md-6
          %label.control-label{for: 'input-guid'} GUID
          %input#input-guid.form-control{type: 'text', name: 'guid', placeholder: 'Single document guid'}
        .col-md-6
          %label.control-label{for: 'input-collection'} Collection
          %input#input-collection.form-control{type: 'text', name: 'collection', placeholder: 'Series/Property guids'}

    -# some tags
    .form-group
      .row
        .col-md-6
          %label.control-label{for: 'input-tags'}
            Tags
          %input#input-tags.form-control{type: 'text', name: 'tag', placeholder: 'Separate with semicolons'}
        .col-md-6
          %label.control-label
            Published
          .input-split
            %input#input-startdate.form-control{type: 'text', name: 'startdate', placeholder: 'Start Date'}
            %input#input-enddate.form-control{type: 'text', name: 'enddate', placeholder: 'End Date'}

  %a.toggle{href: '#'}
    %span.show-text
      Advanced Search
    %span.hide-text
      Hide Advanced
