.container.pmp-search-form{'data-proxy-path' => public_proxy_path}
  .row
    %h2.title
      Search the Platform
    .col-md-6.col-md-offset-3
      %form
        = render partial: 'form'
  .row
    .col-lg-10.col-lg-offset-1.well
      .results-header.clearfix
        %h3
          Search Results
          %span.search-total
            (0)
        .sorts
          Sort by
          %a{'data-value' => 'title', class: params[:searchsort] == 'title' ? 'active' : ''} Title
          \/
          %a{'data-value' => 'relevance', class: params[:searchsort] == 'relevance' ? 'active' : ''} Most Relevant
          \/
          %a{'data-value' => 'date', class: params[:searchsort] == 'date' || params[:searchsort].blank? ? 'active' : ''} Most Recent
      .results-list
        .results-placeholder
          %h3 Enter some search terms to get started
        -# handlebars renders here
