.row
  .col-sm-3
    .docs-sidebar.hidden-print.hidden-xs
      %ul.nav
        -# js-generated navigation
  .col-sm-9.panel
    .markdown-content
      = find_and_preserve do
        - @markdowns.each do |md_file|
          = render file: md_file
