//
// styles manifest
//
//= require bootstrap
//= require bootstrap-theme
//= require bootstrap-datepicker3
//= require bootstrap-select
//= require font-awesome
//= require rouge
//= require_self
//= require fonts
//= require bootstyles
//= require layout
//= require_tree .
//

// global logout modal
.bootbox-logout .modal-dialog {
  width: 200px;
  .bootbox-body {
    text-align: center;
  }
  h3 {
    margin: 4px 0 1px;
  }
}
