//
// cred pages
//
body.credentials {

  h2 {
    margin-top: 0;
  }

  .table {
    margin-bottom: 14px;
    th, td {
      padding: 14px 8px;
    }
    th.expires, td.expires {
      width: 1px;
    }
    th.actions, td.actions {
      width: 1px;
      .btn { visibility: hidden; display: block; width: 66px; }
      .readonly-tip { visibility: hidden; display: block; width: 66px; }
    }
    tr:hover {
      th.actions .btn, td.actions .btn, td.actions .readonly-tip {
        visibility: visible;
      }
    }
    tr.muted {
      color: #A5A5A5;
    }
  }

  .readonly-tip {
    height: 20px;
    margin-top: -3px;
    text-align: center;
  }

  .bootbox-confirm .modal-dialog {
    width: 228px;
  }

  .new-client-row {
    td {
      vertical-align: middle;
      text-align: center;
      padding: 8px 8px;
    }
    td.actions {
      padding: 2px 8px;
      .btn { visibility: visible; display: block; }
      .btn.save-client { margin-bottom: 4px; }
      .btn.cancel-client { color: #777; }
    }
  }

}
