//
// app layout
//
html {
  position: relative;
  min-height: 100%;
}
body {
  background: #F9F9F9;
  color: #464646;
  margin-bottom: 100px; // footer height
}
#main {
  padding-top: 70px;
  padding-bottom: 30px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px; // fixed height
  background-color: #494D53;
  a, p {
    color: #999;
    &:hover {
      color: #eee;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 14px 0 0;
    @media (min-width: 768px) {
      margin: 0 auto;
      width: 200px;
    }
    li {
      padding-bottom: 6px;
    }
  }
}

// anchors + fixed navbar
.hdr-anchor {
  top: -70px; // header height
  position: relative;
  visibility: hidden;
}

// vertical centering
.vcenter-ct {
  display: table;
  height: 100%;
}
.vcenter {
  display: table-cell;
  vertical-align: middle;
}
