//
// search pages
//
.pmp-search-form {

  h2.title {
    text-align: center;
    margin: 40px 0 25px;
  }

  // search form
  ::-webkit-input-placeholder { color: #bababa; }
  :-moz-placeholder           { color: #bababa; }
  ::-moz-placeholder          { color: #bababa; }
  :-ms-input-placeholder      { color: #bababa; }
  .btn-success {
    padding: 9px 20px;
  }
  .advanced {
    text-align: center;
    margin: 20px 0;
    .toggle {
      color: #bababa;
      font-size: 18px;
    }
  }
  .well {
    margin-top: 30px;
  }

  // results
  .results-header {
    .count {
      color: #bababa;
      margin-left: 10px;
    }
    .sorts {
      float: right;
      font-size: 20px;
      color: #bababa;
      a {
        color: #bababa;
        &:active, &:hover {
          color: #666;
          cursor: pointer;
          text-decoration: underline;
        }
        &.active {
          color: #666;
          cursor: default;
          text-decoration: none;
        }
      }
    }
  }
  .results-list {
    .media {
      border-top: 1px solid #ddd;
      margin-top: 18px;
      padding-top: 32px;
      > .pull-left {
        margin-right: 20px;
      }
    }
    .media-object {
      padding-top: 4px;
      padding-bottom: 20px;
      max-width: 200px;
      max-height: 200px;
    }
    .media-body {
      padding-top: 4px;
    }
    .media-heading {
      position: relative;
      .date {
        color: #bababa;
        margin-left: 20px;
      }
      .type {
        position: absolute;
        right: 0;
        top: -4px;
        padding: 4px 8px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #9A9A9A;
        color: #FFF;
        &.story       { background: #9A9A9A; }
        &.video       { background: #B36AE2; }
        &.audio       { background: #EE7C22; }
        &.image       { background: #85D9F3; }
        &.story.audio { background: #DCBD23; }
        .length {
          position: absolute;
          top: 100%;
          width: 100%;
          padding: 2px 16px 0 0;
          text-align: center;
          color: #bababa;
        }
      }
    }
    .media-title {
      margin: 12px 0 8px;
    }
    .meta {
      color: #9A9A9A;
      > * {
        float: left;
        font-size: 16px;
        font-weight: 500;
        margin-right: 20px;
      }
    }
  }


}
