//
// session pages
//
body.sessions, body.password_reset, body.register {

  .well {
    margin-top: 60px;
  }

  .btn {
    height: 40px;
    padding: 8px 12px;
  }

  .logo {
    display: block;
    margin: 8px -12px 8px 0;
    text-align: center;
    img {
      width: 100%;
      max-width: 122px;
      text-align: center;
    }
    @media (min-width: 992px) {
      margin-top: 32px;
    }
  }

  .doc-link {
    text-align: center;
    padding: 12px 0 0 12px;
  }

  .btn-group.with-prefix {
    display: block;
    margin-bottom: -1px;
    padding-left: 60px;
    .prefix {
      z-index: 4;
      position: absolute;
      left: 0;
      top: 0;
      width: 61px;
      height: 40px;
      padding: 10px 0 0 14px;
      font-weight: bold;
    }
    .bootstrap-select {
      width: 100%;
    }
  }

  .form-control {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: -1px;
  }
  .form-control:focus {
    z-index: 10;
  }

}
