.container
  .row
    .col-sm-6.col-sm-offset-3
      .well
        .row
          .col-md-4
            .logo
              %a{href: 'http://publicmediaplatform.org'}
                = image_tag 'logo.png'
            = yield(:logbox_docs)
          .col-md-8
            = yield(:logbox)
      = yield(:logbox_links)
